<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="election_app.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="election_app.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="FEMOG SUITE"/> 
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <election_app.My.MySettings>
            <setting name="username" serializeAs="String">
                <value/>
            </setting>
            <setting name="password" serializeAs="String">
                <value/>
            </setting>
            <setting name="f1t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="f1t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="f1t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="f1t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="f1t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="f1t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="f2t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="f2t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="f2t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="f2t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="f2t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="f2t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="f3t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="f3t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="f3t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="f3t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="f3t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="f3t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="f4t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="f4t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="f4t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="f4t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="f4t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="f4t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="f5t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="f5t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="f5t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="f5t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="f5t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="f5t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="d2t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="d2t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="d2t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="d2t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="d2t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="d2t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="d3t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="d3t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="d3t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="d3t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="d3t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="d3t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="e3t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="e3t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="e3t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="e3t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="e3t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="e3t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="v1t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="v1t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="v1t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="v1t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="v1t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="v1t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="v2t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="v2t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="v2t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="v2t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="v2t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="v2t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="v3t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="v3t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="v3t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="v3t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="v3t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="v3t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="v4t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="v4t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="v4t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="v4t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="v4t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="v4t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="v5t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="v5t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="v5t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="v5t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="v5t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="v5t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="v6t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="v6t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="v6t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="v6t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="v6t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="v6t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="v7t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="v7t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="v7t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="v7t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="v7t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="v7t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="v8t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="v8t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="v8t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="v8t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="v8t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="v8t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="g1t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="g1t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="g1t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="g1t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="g1t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="g1t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="g2t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="g2t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="g2t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="g2t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="g2t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="g2t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="s1t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="s1t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="s1t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="s1t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="s1t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="s1t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="s2t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="s2t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="s2t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="s2t4" serializeAs="String">
                <value/>
            </setting>
            <setting name="s2t5" serializeAs="String">
                <value/>
            </setting>
            <setting name="s2t6" serializeAs="String">
                <value/>
            </setting>
            <setting name="f1v1" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="f1v2" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="f1v3" serializeAs="String">
                <value>...</value>
            </setting>
        </election_app.My.MySettings>
    </userSettings>
    <applicationSettings>
        <election_app.My.MySettings>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
        </election_app.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
